@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

/* http: //meyerweb.com/eric/tools/css/reset/

v2.0 | 20110126 License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    /* font: inherit; */
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* body {
    line-height: 1;
} */

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cf::before,
.cf::after {
    content: "";
    display: table;
}

.cf::after {
    clear: both;
}

.cf {
    *zoom: 1;
}

* {
    box-sizing: border-box;
}

body {
    color: #ffffff;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: #282a36;
}

nav {
    font-family: 'Comfortaa', cursive;
    top: 0;
    position: sticky;
    background-color: #282a36;
    height: 64px;
    line-height: 64px;
    width: 95%;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    padding: 0 10px;
    z-index: 2;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

nav a.brand-logo {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

nav img {
    vertical-align: middle;
}

nav ul,
nav li {
    display: inline;
}

nav li {
    margin-right: 25px;
}

nav li:last-child {
    margin-right: 0;
}

nav li a.nav-item {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 22px;
    text-decoration: none;
}

nav li a.nav-item:hover {
    border-bottom: 3px solid #ff79c6;
}

nav li a.active {
    border-bottom: 3px solid #ff79c6 !important;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
}

.fb-16,
.fb-20,
.fb-25,
.fb-30,
.fb-33,
.fb-35,
.fb-40,
.fb-50,
.fb-60,
.fb-70,
.fb-75,
.fb-100 {
    padding: 0.35rem;
}

.fb-16 {
    flex-basis: 16.7%;
}

.fb-33 {
    flex-basis: 33.3%;
}

.fb-20 {
    flex-basis: 20%;
}

.fb-25 {
    flex-basis: 25%;
}

.fb-30 {
    flex-basis: 30%;
}

.fb-35 {
    flex-basis: 35%;
}

.fb-40 {
    flex-basis: 40%;
}

.fb-50 {
    flex-basis: 50%;
}

.fb-60 {
    flex-basis: 60%;
}

.fb-70 {
    flex-basis: 70%;
}

.fb-75 {
    flex-basis: 75%;
}


.fb-100 {
    flex-basis: 100%;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.btn {
    font-family: 'Comfortaa', cursive;
    padding: 10px 20px;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    font-size: small;
    text-decoration: none;
    cursor: pointer;
}


.btn {
    background-color: gainsboro;
    color: #ffffff;
}

a.btn:hover {
    text-decoration: none;
}

.btn-blue {
    background-color: #0C7ABF;
    box-shadow: 0 2px 4px 0 rgba(12, 122, 191, 0.2);
    border: 0;
}

.btn-outline-success {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #50fa7b;
    box-shadow: 0 2px 4px 0 rgba(80, 250, 122, 0.2);
}

.btn-outline-success:hover {
    background-color: #50fa7b;
}

main .btn {
    display: inline-block;
}

.btn i {
    margin-right: 5px;
}

.twitter {
    background-color: #0C7ABF;
    box-shadow: 0 2px 2px 0 rgba(12, 122, 191, 0.5);
}

.buy-coffee {
    background-color: #F65164;
    box-shadow: 0 2px 2px 0 rgba(246, 81, 100, 0.5);
}

.buy-cofee:hover {
    background-color: rgba(246, 81, 100, 0.90);
}

.d-inline {
    display: inline;
}

.d-none {
    display: none;
}

.p-relative {
    position: relative;
}

.carousel {
    text-align: center;
    vertical-align: middle;
    height: auto;
    width: 100%;
}

.carousel img {
    max-height: 600px;
    object-fit: cover;
    object-position: center;
    /* filter: brightness(90%);
    -webkit-filter: brightness(90%); */
}

.slick-dots {
    bottom: 0;
    margin-bottom: 25px;
}

.slick-dots li button::before {
    font-size: 10px;
}

.brand-logo {
    letter-spacing: .2rem;
}

.container {
    margin: 0 auto;
    max-width: 95%;
}

section {
    min-height: max-content;
    margin-bottom: 100px;
}

.card-hospital,
.card {
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 10px;
}

.card-hospital {
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #ffffff;
}

a.hospital-name {
    font-size: medium;
    font-weight: bold;
    color: #0C7ABF;
}

.card-quick {
    padding: 60px 0;
}

.data-group {
    position: relative;
    margin: 0 auto;
    width: min-content;
}

.badge {
    position: absolute;
    padding: 3px 5px;
    border-radius: 5px;
    font-style: italic;
    top: -25px;
    right: -20px;
}

.bg-lightgrey {
    background-color: #343746;
}

.bg-green {
    background-color: #50fa7b;
}

.bg-white {
    background-color: #ffffff;
}

.bg-red {
    background-color: #F65164;
}

.bg-blue {
    background-color: #0C7ABF;
}

.mr-auto {
    margin: 0 auto;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.p-1 {
    padding: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

.b-rad {
    border-radius: 5px;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-black {
    color: #282a36;
}

.float-right {
    float: right;
}

.text-green {
    color: #50fa7b;
}

.text-blue {
    color: #0C7ABF;
}

.text-red {
    color: #F65164;
}

.text-orange {
    color: #FF9D00;
}

.text-yellow {
    color: #F8F540;
}

.bl-green {
    border-left: 4px solid #50fa7b;
}

.close {
    position: absolute;
    right: 0;
    top: 5px;
    color: #ff2d2d;
}


footer {
    height: auto;
    line-height: 40px;
    vertical-align: middle;
    background-color: #343746;
}

footer .container {
    border-top: 1px solid #ff79c6;
    padding: 5px;
}

h1 {
    display: block;
    text-transform: uppercase;
    color: #50fa7b;
}

.main-color {
    color: #282a36;
}

.bold {
    font-weight: bold;
}

.va-midle {
    vertical-align: middle;
}

input[type="text"].form-custom,
input[type="email"].form-custom,
input[type="search"].form-custom {
    height: 40px;
    width: 100%;
}

.bg-lightgrey input[type="search"].form-custom {
    background-color: #272b3a !important;
}

textarea.form-custom {
    width: 100%;
    resize: none;
    font-family: 'Monserrat', Tahoma, Geneva, Verdana, sans-serif;
}

.form-custom {
    border-radius: 5px;
    background-color: #343746;
    border: 0;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 13px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group label {
    position: absolute;
}

.form-group .form-custom {
    margin-top: 25px;
}

.uppercase {
    text-transform: uppercase;
}

.title-box h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 50px;
}

.title-box hr {
    border: 1px solid #50fa7b;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(80, 250, 122, 0.2);
}

.sub-title-box {
    margin-bottom: 1rem;
}

.sub-title-box img {
    vertical-align: middle;
}

.sub-title-box h1 {
    vertical-align: middle;
    display: inline-block;
}



i.fa,
i.fab,
i.fas {
    margin-right: 10px;
}

.overflow {
    flex: 1;
    display: flex;
    border-radius: 5px;
    overflow: auto;
}

.box {
    display: flex;
    max-height: 1000px;
    width: 100%;
}

table.data-table {
    background-color: #272b3a !important;
    border-radius: 5px;
    width: 100%;
}

table th {
    border-bottom: 1px solid rgba(52, 55, 70, 0.35);
    font-size: 10px;
    padding: 10px;
    text-transform: uppercase;
}

table td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

table td:nth-child(3) {
    color: #65DD9B;
}

table td:nth-child(4) {
    color: #F65164;
}

table td:nth-child(5) {
    color: #0C7ABF;
}

table td:nth-child(6) {
    color: #F8F540;
}

table tr:nth-child(even) {
    background-color: rgba(52, 55, 70, 0.35);
}

.data {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 10px;
}

.data-desc {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 40px;
}

.data-desc:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-150 {
    width: 140px;
}

.box-title {
    display: inline-block;
    width: 140px;
    height: 32px;
    line-height: 32px;
    background-color: #343746;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    color: #ffffff;
}

.head-news {
    border-bottom: 2px solid #343746;
}

.card-subnews {
    margin-right: 20px;
}

.card-subnews img {
    width: 100%;
}

.card-subnews .title {
    padding: 5px 0;
    font-weight: 600;
    color: #ffffff;
}

.frame-subnews {
    width: 100%;
}

.news-card {
    width: 100%;
    border-radius: 5px;
    background-color: #343746;
    margin-bottom: 20px;
}

.news-image img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.news-body {
    padding: 15px;
}

.news-title {
    cursor: pointer;
    color: #65DD9B;
    font-size: 18px;
    font-weight: 700;
}

.news-title:hover {
    text-decoration: underline;
}

.news-postdate {
    font-size: 12px;
}

.news-text {
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
    object-position: center;
}

.list-location input[type="radio"] {
    margin: 5px;
}

.list-location input[type="radio"],
.list-location label {
    vertical-align: middle;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #272b3a;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar .closebtn {
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar .closebtn:hover {
    text-decoration: none;
    color: #ff79c6;
}

.sidebar li {
    display: block;
    margin: 0;
}

.sidebar li a.nav-item {
    border-bottom: 3px solid transparent;
    display: block;
    width: 100%;
    line-height: 0;
    padding: 25px 10px;
}

.sidebar li:last-child {
    padding: 0 10px;
}

.sidebar li a.btn {
    line-height: 0;
    display: block;
    margin: 5px 0;
    width: 100%;
}

.card-donate {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: #343746;
    border-radius: 5px;
}

.card-donate .card-img {
    border-radius: 5px;
    flex-basis: 40%;
}

.card-donate .card-img img {
    height: 100%;
    width: 100%;
    border-radius: 5px 0 0 5px;
}

.card-donate .card-body {
    flex-basis: 60%;
    padding: 10px;
}

@media (max-width:1200px) {
    nav .navbar li:last-child {
        display: none;
    }
}

@media (max-width:960px) {
    .title-box h1 {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .data {
        font-size: 30px;
    }

    .md-fb-50 {
        flex-basis: 50%;
    }

    .md-fb-33 {
        flex-basis: 33.3%;
    }

    .card-donate .card-img,
    .card-donate .card-body,
    .md-fb-100 {
        flex-basis: 100%;
    }

    .card-donate .card-img img {
        border-radius: 5px 5px 0 0;
    }

    .list-location {
        display: inline-block;
    }

    .hide-on-md {
        display: none;
    }

    .show-on-md {
        display: inline-block;
    }

}

@media (max-width:768px) {
    .data-desc {
        margin-bottom: 15px;
    }

    section {
        margin-bottom: 50px;
    }

    .sm-fb-100 {
        flex-basis: 100%;
    }

    .sm-fb-50 {
        flex-basis: 50%;
    }

    .box {
        max-width: 200px;
    }
}